/* Reset some default styles */
*   *{
    margin: 0;
    padding: 0;
}

/* Navbar container */
.navbar {
    overflow: hidden; 
    padding: 10px;
    height: 65px;
}

/* Logo */
.logo img {
    height: 75px; 
    vertical-align: middle; 
    margin-left: 50px;
}

/* Navbar links */
ul {
    list-style-type: none; 
    float: right; 
    margin-right: 100px;
}

ul li {
    display: inline-block; /* Display items horizontally */
    margin-left: 20px; 
    margin-top: 30px;
}

ul li a { 
    color: black;
    text-decoration: none; 
    font-size: 18px; 
    padding: 10px; 
    border-bottom: 2px solid transparent;
}

ul li a:hover {
    color: brown;
    border-radius: 5px solid;
    border-bottom-color: Brown; 
}
/* start of body section*/

.body{
    float: left;
}
.hello{
    font-size: 100px;
    color: brown;
    margin-left: 250px;
    margin-top: 200px;
}
.ac_name,.pname{
    font-size: 100px;
    color: Brown;
    margin-left: 250px;
}
.my_image{
    float: right;
    margin-right: 100px;
    margin-top: 39px;
}